
#cv
{
    background-color: #f1f1f1;
    padding-bottom: 100px;
}

#about-content .row
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 50px 0px;
}

#about-content h3
{
    display: block;
    padding: 100px 0px;
    margin: 0px auto;

    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.1em;
}

#about-content img
{
    width: 90%;
    height: 90%;
}

#cv h4
{
    padding: 100px 20px 20px 0px;
    font-size: 2.0rem;
    text-transform: uppercase;
    text-align: center;
}

#cv .col-lg-12
{
    text-align: center;
}

#cv button
{
    background-color: #1f5880;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

#cv button a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 0.1rem;
}

#cv p
{
    padding-top: 50px;
}
